body{
    background-color: #ffffff;
}
#header {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px; 
    background-color: #83bdf0;
    align-items: center;
}
/*****LOGO*****/
.logo{
    padding:20px;
}
.logo a{
    text-decoration: none;
    color: #000000;
}
/*****NAVIGATION*****/
.navigation {
    display: flex;
    list-style-type: none;
    font-size: 12px;
}
.navigation li{
    margin-left: 10px;
    width: 75px;
    text-align: center;
}
.navigation a{
    display: block;
    padding: 10px;
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}
.navigation a:hover{
    color: #ffffff;
    background-color: #000000;
}
/*****DROPDOWN*****/
.dropdown-menu{
    display: none;
    position: absolute;
    list-style-type: none;
    z-index: 1;
    background-color: #ffffff;
    font-size: 10px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu li{
    margin: 0 0 0 0;
    padding: 0;
}
.dropdown-menu a{
    display: block;
    width: 75px;
}
/******SECOND HEADER********/